body {
    padding-left: 16px;
    padding-right: 16px;
}

.jumbotron {
    background-image:url('../image/bridgeport-cover-size.jpg')
}

nav {
    background-color: darkslategrey;
    font-size: medium;
    text-align: center;
}

nav li {
}
.nav-link {
    color:white;
}
